* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    scroll-behavior: smooth;
}

.main {
    margin: 3%;
    width: auto;
    height: auto;
}

/* Header Section style start */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo {
    margin-top: 10px;
}

header>nav {
    margin-top: 5px;
}

header>nav>a {
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
    position: relative;
}

header>nav>a:before {
    transition: all .5s;
}

header>nav>a:hover {
    color: #555;
}

header>nav>a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

header>nav>a:hover:after {
    width: 100%;
}

/* Header Section Style end */

/* main style start from here */
hr {
    margin: 2%;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}


main, footer {
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.card-container {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.note-card {
    width: 25%;
    margin: 3%;
}

.banner-image {
    background-image: url(https://images.unsplash.com/photo-1641326201918-3cafc641038e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.255)
}

.banner-image>h1 {
    font-family: 'Righteous', sans-serif;
    color: rgba(255, 255, 255, 0.98);
    text-transform: uppercase;
    font-size: 2.4rem;
}

.banner-image>p {
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 0.8rem;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.button-wrapper {
    margin-top: 18px;
}

.btn {
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 12px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    cursor: pointer;
}

.btn+.btn {
    margin-left: 10px;
}

.outline {
    background: transparent;
    color: rgba(0, 212, 255, 0.9);
    border: 1px solid rgba(0, 212, 255, 0.6);
    transition: all .3s ease;

}

.outline:hover {
    transform: scale(1.125);
    color: rgba(40, 36, 36, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease;
}

.fill {
    background: rgba(0, 212, 255, 0.9);
    color: rgba(255, 255, 255, 0.95);
    filter: drop-shadow(0);
    font-weight: bold;
    transition: all .3s ease;
}

.fill:hover {
    transform: scale(1.125);
    border-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
    transition: all .3s ease;
}

/* main style end here  */

/* footer style start form here  */
footer>h1 {
    margin: 10px 0;
    font-weight: bolder;
}

.about-us {
    width: 81%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about {
    width: 40%;
    margin: 5%;
    padding: 3%;
    font-size: 1.9em;
}


.contact-form {
    width: 40%;
    margin: 58px;
    margin-top: 5%;
    padding: 3%;
}

.contact-form>.form {
    width: 340px;
    height: 440px;
    background: #e6e6e6;
    border-radius: 8px;
    /* box-shadow: 0 0 40px -10px #000; */
    margin: 3%;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative
}

.contact-form>.form>h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    border-bottom: 3px solid #78788c
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2
}

input:focus {
    border-bottom: 2px solid #78788c
}

.contact-form>.form>p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a
}

.contact-form>.form>button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s
}

.contact-form>.form>button:hover {
    background: #78788c;
    color: #fff
}

.contact-form>.form>div {
    content: 'Hi';
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: #50505a;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000
}

.contact-form>.form>div>span {
    margin: 0 5px 0 15px
}

/* footer style close here */

.copy-right{
    margin-top: 10px;
    text-align: center;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 900;
}


/* Style for mobile devices */

@media only screen and (max-width: 767px) {
    body {
        width: 100vw;
        height: auto;
    }
    hr {
        display: none;
    }
    .card-container {
        width: 100vw;
        height: auto;
        flex-direction: column;
    }
    .note-card {
        width: 90%;
        margin: 3%;
    }

    footer{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }
    footer>h1{
        margin-top: 50px;
        margin-bottom: -25px;
        text-transform: uppercase;
        border-bottom: 2px solid black;
    }
    footer>.about-us {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .about{
        width: 100vw;
        height: auto;
    }
    .about>p{
        margin: 10px;
        font-size: 1.9rem;
        text-transform: capitalize;
        font-weight: 600;
    }
    .contact-form {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .copy-right {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1rem;
    }
}

/* end of style for mobile devices */